:root {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background: black;
  letter-spacing: 0.07px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .invt {
  color: rgba(255, 255, 255, 0.9);
}

.invt span {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

a {
  color: #fff;
}

header {
  font-size: 1rem;
  display: flex;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  gap: 20px;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  max-width: 1500px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.2); /* outer border */
}

.cell {
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
}

.cell img,
.cell video {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.cell:nth-child(odd) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.cell:not(:nth-last-child(-n+2)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.cell:nth-last-child(-n+2) {
  border-bottom: none;
}

.white {
  background: white;
}

.red {
  background: #ff1e00;
}

.prpl {
  background: #eabbfd;
}

.desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  line-height: 1.3;
  font-size: 14px;
}

.desc p {
  margin: 0;
  padding: 0;
}

.desc span {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 3px;
  white-space: nowrap;
}

em {
  font-style: normal;
}

@media (max-width: 1080px) {
  .desc {
    flex-direction: column;
    gap: 0.25rem;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .cell {
    border-right: none;
  }

  .cell:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .desc p {
    display: none;
  }
}
